<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/chart-icon.jpg">
    <title>Covid Plots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bootstrap -->
    <link href="/javascripts/libraries/startbootstrap-simple-sidebar-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/javascripts/libraries/startbootstrap-simple-sidebar-gh-pages/css/simple-sidebar.css" rel="stylesheet">

    <script src="/javascripts/libraries/startbootstrap-simple-sidebar-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/javascripts/libraries/startbootstrap-simple-sidebar-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- momentjs, chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

    <!-- maps --> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="/javascripts/libraries/datamaps/dist/datamaps.usa.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="/javascripts/common/layout.js?<%=@date%>"></script>
    <script type="text/javascript" src="/javascripts/common/chart-config.js?<%=@date%>"></script>
    <script type="text/javascript" src="/javascripts/common/map-config.js?<%=@date%>"></script>
    <script type="text/javascript" src="/javascripts/common/api-calls.js?<%=@date%>"></script>

  </head>

  <body>

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Covid Plots </div>
        <div class="list-group list-group-flush"></div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <%= render partial: "layouts/header"%>
      
        <div class="container-fluid">
            <%= yield %>
         </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!--<%= render partial: "layouts/header"%>
    <div id="body">
    </div>-->

  </body>
</html>

