<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/chart-icon.jpg">
    <title>Covid Graphs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/javascripts/common/chart-config.js"></script>
    <script type="text/javascript" src="/javascripts/common/api-calls.js"></script>

  </head>

  <body>
    <%= render partial: "layouts/header"%>
    <%= yield %>
  </body>
</html>

